@using MediaCore.ViewModel.Common
@model LocalMediaFile
@{
    string playUrl = "/localmedia/doplay";
    string downloadUrl = "/localmedia/download";
}

<style>
    video {
        width: 100%;
        object-fit: contain;
        max-height: 600px;
        max-width: 80%;
    }

    .media-player-body {
        margin: 10px auto;
        text-align: center;
    }

    @@media (width <= 600px) {
        video {
            max-width: 100%;
        }
    }
</style>

<div class="media-player-body">
    @switch (Model.MineTypeResult.PlayType)
    {
        case MediaFilePlayTypeEnum.Video:
            <video controls autoplay>
                <source src="@playUrl/@Model.Id" type="@Model.MineTypeResult.MimeType" />
                Your browser does not support "@Model.MineTypeResult.MimeType".
            </video>
            <p>
                @Html.Raw(Model.FileName)
            </p>
            break;

        case MediaFilePlayTypeEnum.Audio:
            <audio controls autoplay>
                <source src="@playUrl/@Model.Id" type="@Model.MineTypeResult.MimeType" />
                Your browser does not support "@Model.MineTypeResult.MimeType".
            </audio>
            <p>
                @Html.Raw(Model.FileName)
            </p>
            break;

        default:
            <h4>下载链接：</h4>
            <a class="link-primary" href="@downloadUrl/@Model.Id">@Html.Raw(Model.FileName)</a>
            break;
    }
    <button type="button" class="btn btn-light player-close" onclick="window.close();" style="margin-top:20px;">關閉</button>
</div>